@charset "UTF-8";

 /*   font-family: 'Raleway', sans-serif; 

 @font-face {
     font-family: 'raleway';
     src: 'font/raleway.ttf';
 }
 */ 

/* MAIN */ 
 body, html {
     padding: 0;
     margin: 0;
 }

 body {
    font-family: 'Raleway', sans-serif;
 }

 a, a:hover {
     text-decoration: none;
 }

.container-fluid {
    padding: 0;
}

.separator {
    height: 3px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: #6c757d;
}

.aproposdemoi {
    text-align: center;
}

/* HEADER */ 
.header {
    background-color: #4eb0e9;
    height: 70px;
    line-height: 70px;
}

.logo {
    color:#ffffff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    float: left;
}

.menu {
    float: right;
}

.menu a {
    color: #ffffff;
    margin-right: 20px;
}

.menu a:hover {
    color: #ff4500;
}

/* BANNER */ 
.banner {
    width: 100%;
    max-width: 100%;
}

.ban {
    width: 100%;
    max-width: 100%;
    position: relative;
}

.ban img {
    width: 100%;
    max-width: 100%;
}

.inner-banner {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 90px;
}

.inner-banner h2 {
    color:crimson;
    text-shadow: 1px 1px 20px #000000;
}

/* about */
#about {
    text-align: center;
}

.about article h2 {
    text-align: center;
} 

.about article {
    margin-top: 3%;
    margin-bottom: 3%;
}

/* PORTFOLIO 
.portfolio {
    background-color: #eeeeee;
}

#portfolio {
    text-align: center;
}

.portfolio .item-folio {
    height: 40px;
    background-color: darkkhaki;
}

*/ 

/* CONTACT & FOOTER */ 

.footer {
    text-align: center;
    margin-bottom: 12px;
    margin-top: 50px;
}

.btn .btn-primary .btn-lg {
    margin-top: 3%;
}

body {
    margin: 0;
    background-image: linear-gradient(#d16ba5, #e17497, #eb828b, #ee9183, #eda280, #f1ad7d, #f3b97b, #f3c67b, #f8d273, #fbdf6b, #f9ec64, #f4fb5f)
  }
  
  main {
    height: 200vmin
  }
  
  h1 {
    color: white;
    font-family: system-ui, sans-serif;
    font-size: 48px;
    text-align: center
  }
  
  footer {
    display: flex;
    justify-content: flex-end;
    padding: 16px
  }
  
/* **************************************************************************************************************************************** */
  
  body {
    margin: 0;
    background-image: linear-gradient(#f81111, #f81111, #5bdcf3, #3022f3)
  }
  
/* **************************************************************************************************************************************** */
